@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial;
}
body * {
    box-sizing: border-box;
}
.fundo{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #ff6476, #e98596);
    display: flex;
    justify-content: center;
   align-items: center;
}
table{
    position: relative;
    background-color: transparent;
    border-radius: 14px;
    border: none;
    width: 50vw;
    height: 60vh;
    color: #2b2d42;

}
table button:hover{
    transition: 1s;
    transition-duration: 1s;
    color: #f8db38;
    text-shadow: 0px 0px 20px #f8db38d8;
    text-decoration: none;
}

.fundo2{
    width: 90%;
    min-height: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #edf2f4;
    box-shadow: 0px 0px 30px #330208;
}
.padding-{
    padding: 30px;

}
.linhas-tb{
    padding-top: 30px;
    vertical-align: top;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.btn{
    outline: none;
    border: none;
    border-top: 1px solid #edf2f4;
    border-left: 2px solid #edf2f442;
    border-radius: 12px;
    color: #e0445e;
    box-shadow: 2px 3px 5px #000000;
    padding: 12px;
    background-color: #2b2d42;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px #eb2f58c5;
    font-weight: 800;
    font-size: 11px;
    letter-spacing: 2px;
    cursor: pointer;
}
.botao{
    vertical-align: bottom;
    padding: 12px;
    align-items: center;
}
.foto-responsavel{
    border: none;
}
.sombra-colum{
    box-shadow: 0px 4px 16px -8px #000000;
}
.titulo{
    background-color: #ffe240;
    border: 1px solid #2b2d42;
    border-radius: 10px;
    padding-left: 40px;
}